---
import type { WorkExperienceType } from "../types/WorkExperience.type";
import BisaLogo from "../assets/bisa.svg";
import AgeticLogo from "../assets/agetic.svg";
import SedalpLogo from "../assets/sedalp.svg";
import WorkExperienceContent from "../components/WorkExperienceContent.astro";
import ContentExperience from "../components/atoms/ContentExperience.astro";
const experiences: WorkExperienceType[] = [
  {
    place: "",
    acronym: "Bisa Bank",
    description:
      "Together with my team, we led the automation of critical core banking processes, significantly accelerating and optimizing the migration of legacy systems. I also conducted thorough manual testing on maintenance developments implemented by other developers to ensure full functionality and strict compliance with requirements.",
    duration: "Feb - Jun, 2025",
    logo: BisaLogo,
    projects: null,
  },
  {
    place:
      "Agency for Electronic Government and Information and Communication Technologies",
    acronym: "AGETIC",
    description:
      "At AGETIC, I contributed in multiple roles including Full-Stack Developer, system penetration tester, performance evaluator, and database optimizer. I also conducted research on emerging technologies to automate system deployments, improving delivery efficiency and reducing manual effort.",
    duration: "Jan - Dec, 2024",
    logo: AgeticLogo,
    projects: [
      {
        name: "Event Management System",
        description:
          "I contributed to the development of an event management system that allows users to create and organize meetings and events, invite guests, and assign roles based on event type. The system includes features for tracking attendance and generating detailed attendance statistics.",
      },
      {
        name: "Statistical Log System",
        description:
          "As part of a larger service-sharing platform, I developed a statistical log system that processes consumption logs. This system provides insights of service usage, enabling the identification of patterns and trends for both consumers and publishers.",
      },
    ],
  },
  {
    place: "Departmental Service of Autonomies of La Paz",
    acronym: "SEDALP",
    description:
      "As a Software Developer, I was responsible for leading the end-to-end development and deployment of a Geographic Information System (GIS) aimed at improving territorial control and administrative efficiency for local municipalities. This involved designing scalable backend services, implementing intuitive user interfaces for geographic visualization, and ensuring seamless integration with existing municipal data systems. The project significantly enhanced data-driven decision-making and resource allocation at the local government level.",
    duration: "Jun - Dec, 2023",
    logo: SedalpLogo,
    projects: null,
  },
];
---

<section
  id="experience"
  class="min-h-screen bg-[#666F5C] px-4 pb-10 md:px-20 lg:px-40 xl:px-100"
>
  <h2 class="mb-20 text-center text-5xl underline">Work Experience</h2>
  <!-- Desktop: show full content -->
  <div class="hidden md:block">
    <WorkExperienceContent experiences={experiences} />
  </div>
  <!-- Mobile: show all experiences -->
  <div class="block md:hidden">
    <div class="space-y-8">
      {
        experiences.map(
          ({ logo, duration, place, acronym, description, projects }) => (
            <ContentExperience
              logo={logo}
              duration={duration}
              place={place}
              acronym={acronym}
              description={description}
              targetId={acronym}
              projects={projects}
            />
          ),
        )
      }
    </div>
  </div>
</section>
