---
import List from "../components/atoms/List.astro";
import ContentExperience from "../components/atoms/ContentExperience.astro";
import type { WorkExperienceType } from "../types/WorkExperience.type";
const { experiences } = Astro.props;
---

<div class="flex flex-row items-start">
  <div class="sticky top-20 flex w-4/12 flex-col justify-start border-l-4 p-2">
    {
      experiences.map(({ acronym }: WorkExperienceType) => {
        return <List place={acronym} targetId={acronym} />;
      })
    }
  </div>
  <div class="w-8/12">
    {
      experiences.map(
        ({
          logo,
          duration,
          place,
          acronym,
          description,
          projects,
        }: WorkExperienceType) => {
          return (
            <div class="p-4">
              <ContentExperience
                logo={logo}
                duration={duration}
                place={place}
                acronym={acronym}
                description={description}
                targetId={acronym}
                projects={projects}
              />
            </div>
          );
        },
      )
    }
  </div>
</div>
