---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Project {
  name: string;
  description: string;
}

interface Props {
  logo: AstroComponentFactory;
  place: string;
  acronym: string;
  duration: string;
  description: string;
  targetId: string;
  projects?: Project[];
}

const {
  logo: Logo,
  place,
  acronym,
  duration,
  description,
  targetId,
  projects = [],
} = Astro.props;
---

<div
  id={targetId}
  class="flex min-h-[400px] flex-col bg-[#4B3C42] p-10 text-[#EAC9B1] outline-2"
>
  <div class="flex flex-row items-center justify-between">
    <div class="h-25 w-25">
      <Logo class="h-full w-full" />
    </div>
    <h3 class="text-2xl font-medium">{duration}</h3>
  </div>
  <h3 class="text-3xl font-bold">{`${place} ${acronym}`}</h3>
  <div class="my-8 h-[4px] w-full bg-[#EAC9B1]"></div>
  <p class="mb-10">{description}</p>
  {
    Array.isArray(projects) && projects.length > 0 && (
      <div>
        <h4>Projects:</h4>
        <ul class="list-disc space-y-5 pl-6">
          {projects.map(({ name, description }) => (
            <li>
              {name && <strong>{name}: </strong>}
              {description}
            </li>
          ))}
        </ul>
      </div>
    )
  }
</div>
